@use "sass:math";

//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Manrope';
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

:root {
	--main-color: #FE9A50;
	--black-color: #191C23;
	--dark-color: #24282F;
	--light-color: #A8ACB5;
	--black-grad: linear-gradient(155deg, #191C23 23.4%, #101216 85.68%);
	--orange-grad: linear-gradient(145deg, #FE9A50 11.86%, #FE6A36 86.64%);
}

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "slick-slider";
@import "fancybox";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "null";
@import "global";
@import "header";
@import "footer";
@import "modals";

@import "hero-block";
@import "about-block";
@import "benefits-block";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

